{% extends 'base.html' %}

{% block title %}
Home 
{% endblock title %}
{% block body %} 

<!-- Background with title -->
<div id="index">
<div style="background-color: rgba(0, 0, 0, 0.852);">
	<div style="display:flex; justify-content: space-between; padding-top:24vh; padding-bottom:19vh">
	  <div class="container2" style="display:inline-block; margin-top:10vh;">
		<h1>HUB OF ACCOUNTS</h1>
		<h1>Do Not Learn Accounts Be A Master Of It</h1>
		<h1>By- Tarun Dani</h1>
	  </div>
	  <div style="display:inline-block;">
		<img src="static/images/acc.png" class="slide-in-bot" style="width:30vw; box-shadow: inset 2px 5px 30px rgb(0, 255, 234); border-radius: 35%;"> 
	  <div>
		<img src="static/images/acc2.png" class="slide-in-bot2" style="width:28vw; position:absolute;bottom: 63%;" >
	  </div>    
	  </div>
	</div>
  </div>

 <!-- Card Carousel  -->

<!-- <div class="container-fluid" style= "padding-top: 3vw; padding-bottom: 7vw">
	<h1 style= "color: yellow; text-align: center; font-family: Lucida Bright; text-shadow: 2px 2px 4px black; padding-bottom:2vh"><u>Scholars</u></h1>
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row">
						 		<div class="col">
						 			<div class="card" style="width: 80%; height: 100%; margin: auto; background: rgba(255, 255, 255, 0.133); backdrop-filter: blur(10px); box-shadow: 0 15px 35px rgba(150, 150, 150, 0.193);">
						 				<img src="static/images/111.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">
						 				<div class="card-body" style="color:white; font-weight: bold;">
						 					<p class="card-text">Admission In Top College - Motilal Nehru College</p>
						 					<a href='https://www.instagram.com/hubofaccounts/?hl=en'>
												<img src="/static/images/instagram.png" style= "width: 3rem">
												</a>							 					
						 				</div>						 				
						 			</div>						 			
						 		</div>
						 		<div class="col">
									<div class="card" style="width: 80%; height: 100%;margin: auto; background: rgba(255, 255, 255, 0.133); backdrop-filter: blur(10px); box-shadow: 0 15px 35px rgba(150, 150, 150, 0.193);">
										<img src="static/images/222.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">
										<div class="card-body" style="color:white; font-weight: bold;">
											<p class="card-text">Admission In Top College - Indraprastha College for Womwen</p>
											<a href='https://www.instagram.com/hubofaccounts/?hl=en'>
											   <img src="/static/images/instagram.png" style= "width: 3rem">
											   </a>							 					
										</div>						 				
									</div>				 			
						 		</div>
						 		<div class="col">
									<div class="card" style="width: 80%; height: 100%;margin: auto; background: rgba(255, 255, 255, 0.133); backdrop-filter: blur(10px); box-shadow: 0 15px 35px rgba(150, 150, 150, 0.193);">
										<img src="static/images/333.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">
										<div class="card-body" style="color:white; font-weight: bold;">
											<p class="card-text">Admission In Top College - VIPS</p>
											<a href='https://www.instagram.com/hubofaccounts/?hl=en'>
											   <img src="/static/images/instagram.png" style= "width: 3rem">
											   </a>							 					
										</div>						 				
									</div>	
						 		</div>
						 	</div>
						 </div>						
					</div>
					<div class="carousel-item">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="card" style="width: 80%; height: 100%;margin: auto; background: rgba(255, 255, 255, 0.133); backdrop-filter: blur(10px); box-shadow: 0 15px 35px rgba(150, 150, 150, 0.193);">
										<img src="static/images/111.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">
										<div class="card-body" style="color:white; font-weight: bold;">
											<p class="card-text">Admission In Top College - Motilal Nehru College</p>
											<a href='https://www.instagram.com/hubofaccounts/?hl=en'>
											   <img src="/static/images/instagram.png" style= "width: 3rem">
											   </a>							 					
										</div>						 				
									</div>						 			
								</div>
								<div class="col">
								   <div class="card" style="width: 80%; height: 100%;margin: auto; background: rgba(255, 255, 255, 0.133); backdrop-filter: blur(10px); box-shadow: 0 15px 35px rgba(150, 150, 150, 0.193);">
									   <img src="static/images/222.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">
									   <div class="card-body" style="color:white; font-weight: bold;">
										   <p class="card-text">Admission In Top College - Indraprastha College for Womwen</p>
										   <a href='https://www.instagram.com/hubofaccounts/?hl=en'>
											  <img src="/static/images/instagram.png" style= "width: 3rem">
											  </a>							 					
									   </div>						 				
								   </div>				 			
								</div>
								<div class="col">
								   <div class="card" style="width: 80%; height: 100%;margin: auto; background: rgba(255, 255, 255, 0.133); backdrop-filter: blur(10px); box-shadow: 0 15px 35px rgba(150, 150, 150, 0.193);">
									   <img src="static/images/333.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">
									   <div class="card-body" style="color:white; font-weight: bold;">
										   <p class="card-text">Admission In Top College - Motilal Nehru College</p>
										   <a href='https://www.instagram.com/hubofaccounts/?hl=en'>
											  <img src="/static/images/instagram.png" style= "width: 3rem">
											  </a>							 					
									   </div>						 				
								   </div>	
								</div>
							</div>
						</div>						
				   </div>				   
				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>			
			</div>			
		</div>
	</div>
</div> -->

<div class="container-fluid" style= "padding-top: 3vw; padding-bottom: 7vw">
	<h1 style= "color: yellow; text-align: center; font-family: Lucida Bright; text-shadow: 2px 2px 4px black; padding-bottom:2vh"><u>Scholars</u></h1>
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row">
						 		<div class="col">
						 			<img src="static/images/111.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">						 			
						 		</div>
						 		<div class="col">
									<img src="static/images/222.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">				 			
						 		</div>
						 		<div class="col">
									<img src="static/images/333.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">	
						 		</div>
						 	</div>
						 </div>						
					</div>
					<div class="carousel-item">
						<div class="container">
							<div class="row">
								<div class="col">
									<img src="static/images/111.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">					 			
								</div>
								<div class="col">
									<img src="static/images/222.png" class="card-img-top" style=" box-shadow: 0 10px 25px rgb(0, 0, 0);">				 			
								</div>
								<div class="col">
									<img src="static/images/333.png" class="card-img-top" style="box-shadow: 0 10px 25px rgb(0, 0, 0);">	
								</div>
							</div>
						</div>						
				   </div>				   
				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>			
			</div>			
		</div>
	</div>
</div>


<!-- You Tube Videos  -->

<hr style="color:aqua">
<div class="container" style="padding-top: 5vw; margin: 0">
<div class="row">
	<div class="col">
		<a href="https://www.youtube.com/channel/UCAMfzBc6lEJfUUz16DwkE_Q/featured"><img src="/static/images/yt.png" style= "width: 30vw; border-radius: 15px; box-shadow: rgb(255, 255, 255) 0px 5px 15px;"></a>
	</div>
	<div class="col" style="text-align:center;">
		<a href="https://www.youtube.com/channel/UCAMfzBc6lEJfUUz16DwkE_Q/featured"><img src="/static/images/logo.jpg" alt="Avatar" style= "border-radius: 70%; width: 10vw;"></a>
    </div>	
</div>
</div>

<hr>
<div class="container">
	<div class="row" style="padding-bottom: 1vw">
	  <div class="col">
		<div class="video-responsive">
		<iframe width="360" height="215" src="https://www.youtube.com/embed/videoseries?list=PLkTK-buxseBtGaU_kT-YpqnItoJLLG-sy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: rgb(0, 255, 255) 0px 5px 15px;"></iframe>
	  </div>
	</div>
	  <div class="col">
		<div class="video-responsive">
			<iframe width="360" height="215" src="https://www.youtube.com/embed/9Q4uUUTrEc8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: rgb(0, 255, 255) 0px 5px 15px;"></iframe>
		  </div>
	  </div>
	  <div class="col">
		<div class="video-responsive">
			<iframe width="360" height="215" src="https://www.youtube.com/embed/-zTR2yhfInw?controls=0"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: rgb(0, 255, 255) 0px 5px 15px;"></iframe>
		  </div>
	  </div>
	</div>
	<hr>
	<div class="row">
	  <div class="col">
		<div class="video-responsive">
			<iframe width="360" height="215" src="https://www.youtube.com/embed/7qIqKlkws4M?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: rgb(0, 255, 255) 0px 5px 15px;"></iframe>
		  </div>
	  </div>
	  <div class="col">
		<div class="video-responsive">
			<iframe width="360" height="215" src="https://www.youtube.com/embed/mOeTTL0Hvs0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: rgb(0, 255, 255) 0px 5px 15px;"></iframe>
		  </div>
	  </div>
	  <div class="col">
		<div class="video-responsive">
			<iframe width="360" height="215" src="https://www.youtube.com/embed/Ou47Jnvo7gk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: rgb(0, 255, 255) 0px 5px 15px;"></iframe>
		  </div>
	  </div>
	</div>
  </div> 
  <hr style="color:aqua">

  <!-- Footer -->
<div>
	<div class="row">
		<!-- <h4 style="text-align:center">We'd love to hear from you!</h4> -->
  <div class="content-center" style="display:flex">
		<a href="https://twitter.com/BerryMayank"><i class="fab fa-facebook-f fa-2x"></i></a>
		<a href="https://www.instagram.com/mayank_berry/"><i class="fa fa-instagram fa-2x"></i></a>
		<a href="mailto:mayank.berry.5b@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
</div>
</div>
	<div class="row" style="column-gap: 10vw; background-image: linear-gradient(to bottom, black, grey); color: white;margin-right:0px;">
		<div class="col-sm-3" style="padding-left: 2rem; padding-right: 2rem">
		<h3><u>About Hub Of Accounts</u></h3>
		<p style="text-align:justify;"></p><br> <p></p>
		</div>
		<div class="col-sm-3" style="padding-left: 2rem; padding-right: 2rem">
		<h3><u><a href="/contact" style="color:white">Contact Us</a></u></h3>
								<ul>
									 <li><span>
					 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
					 <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"></path>
					 </svg>
					  Address :</span> 36, Radhey Shyam Mandir Marg, Block F, Mansarover Garden, New Delhi, Delhi 110015</li>
									 <li><span>
						  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
						  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
						  </svg>
						  Phone number :</span><a href="tel:+91-9999175087">+91-9999175087</a>
									 </li><li><span>
						 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
						 <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
						 </svg>
						 E-mail :</span> <a href="mailto:@gmail.com">@gmail.com</a></li>
		</ul></div>
		<div class="col-sm-3" style="padding-left: 2rem; padding-right: 2rem">
		<h3><u><a href="https://www.google.com/maps/place/Corpora/@28.6458318,77.1352225,20.86z/data=!4m5!3m4!1s0x390d0316c0000001:0xa31fa9abba07e672!8m2!3d28.6458238!4d77.1351215" style="color:white">Visit Us</a></u></h3>
		  <div class="card card-cascade narrower">
		  <div class="view view-cascade gradient-card-header peach-gradient">
		  </div>
		  <div class="card-body card-body-cascade text-center">
			<!--Google map-->
			<div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240.3776890226227!2d77.13522249959202!3d28.645831752931414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0316c0000001%3A0xa31fa9abba07e672!2sCorpora!5e0!3m2!1sen!2sin!4v1671348769516!5m2!1sen!2sin" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		  </div>
		</div>
	</div>
	<div>
	<hr style="color:gray; background-color: white">
	<h5 align="center"> <u>Designed and developed by Mayank Berry</u></h5>
	</div>
	  
	</div>
</div>

</div>
{% endblock body %}